<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teen Patti Game</title>
    <link rel="stylesheet" href="/static/css/teen.css">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>
    <h1>Teen Patti Game</h1>
    <div id="controls">
        <button id="deal-cards">Deal Cards</button>
        <input id="num-players" type="number" min="2" max="6" value="3" />
    </div>
    <div id="game-area"></div>
    <script src="/static/js/teen.js"></script>
</body>
</html>
